{{>layout/header}}


<div id="blogGrid" class="col-xs-w100">
</div>
<div id="blogView" class="viewContainer col-xs-w100" style="display:none; margin-bottom:20px;">

</div>
<div id="blogRe" class="col-xs-w100" style="display:none;background:gray;">

</div>
<div id="blogViewHidden" class="" style="width:0px;height:0px; z-index=0;">

</div>


{{>layout/footerJs}}
<script src="/js/app/nambiTableApi.js"></script>
<script src="/js/app/blog/blog.js"></script>
{{>layout/footer}}


