{{>layout/header}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<div id="blogContainer" class="container">
    <div id="blogGrid" class="col-xs-w100">
    </div>
</div>


{{>layout/footerJs}}
<script src="/js/app/nambiTableApi.js"></script>
<script src="/js/app/blog/blog.js"></script>



{{>layout/footer}}


<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>