<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->
    <link href="/css/common.css" rel="stylesheet" >
    <link href="/css/custom.css" rel="stylesheet" >

    <!-- 쇼핑몰 css -->
    <!--<link href="/css/shoppingmall1.css" rel="stylesheet" >-->
</head>
<body>

<div class="logo-bar">
    <div class="logo-img">
        <a href="#">
            VBLog
        </a>
    </div>
</div>

<!-- 사이드메뉴 -->
<div class="side-menu-button" >
    <div class="img-box" id="side-menu-button">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png" alt="">
    </div>
    <div class="side-menu-bar">
        <nav class="side-menu-box">
            <ul>
                <li>
                    {{#userName}}
                        <a href="/logout">로그아웃</a>
                    {{/userName}}
                </li>
                <li>
                    {{^userName}}
                        <a href="/i/login">로그인</a>
                    {{/userName}}
                </li>

                <li>
                    <a href="/i/blog/">블로그</a>
                </li>
                <li>
                    <a href="#">시스템관리</a>
                    <ul>
                        <li><a href="/i/menu">메뉴관리</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">STYLE</a>
                    <ul>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">MEDIA</a>
                    <ul>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">NEWS</a>
                    <ul>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">STORE</a>
                    <ul>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">CUSTOMER</a>
                    <ul>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                        <li><a href="#">2차메뉴아이템</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
