{{>header}}

<div id="menuContainer" class="container">
    <div id="menuGrid" class="col-xs-w100">
    </div>
</div>




{{>footerJs}}
<script src="/js/app/nambiTableApi.js"></script>
<script src="/js/app/system/menu.js"></script>
{{>footer}}


