{{>layout/header}}

<div class="col-md-12 container">
    <div id="menuGrid">


    </div>

</div>



{{>layout/footerJs}}
<script src="/js/app/nambiTableApi.js"></script>
<script src="/js/app/system/menu.js"></script>
{{>layout/footer}}


