{{>layout/header}}


<div class="container m-t-30">
    <div class="col-xs-w100">
        <div class="col-xs-w20" style="height:200px;">
<!--        <img src="..." class="img-thumbnail" alt="...">-->
            내사진
        </div>
        <div class="col-xs-w80">
            <div class="col-xs-w5"><i class="fas fa-envelope fa-2x"></i></div>
                sleepygloa@gmail.com
        </div>
        <div class="col-xs-w80">
            <div class="col-xs-w5"><i class="fas fa-phone-square-alt fa-2x"></i></div>
                010-3359-3878
        </div>
        <div class="col-xs-w80">
            <div class="col-xs-w5"><i class="fab fa-github fa-2x"></i></div>
            <a href="https://github.com/sleepygloa">
                https://github.com/sleepygloa
            </a>
        </div>

    </div>
    <div class="col-xs-w100">
        <div class="col-xs-w20">
            <h4>Introduce</h4>
        </div>
        <div class="col-xs-w80">
            <p>웹의 클라이언트/백엔드, 간단한 앱 개발, SI/유지보수, 해외출장 프로젝트 등 다양한 경험이 있습니다.</p>
            <p>- 다양한 UI 툴 : 넥사크로, 웹스퀘어, exBuilder, javascript 등</p>
            <p>- java를 이용한 JSTL부터, spring F/W, spring Boot, Jpa-Aws(cloud), eEgov 등</p>
            <p>- RDBMS : oracle, mysql(mariadb), PL/SQL등 등</p>
            <p>- APP : native app(android, ios), cordova-ionic, react-native </p>
            <p>- CI/CD : Jenkins, travis 를 이용한 자동 배포 및 관리</p>
            <p>주로 SI와 웹프로젝트인 솔루션 베이스의 개발이 주업무 였고, 항상 자리에서 만족하지 않고, 다양한 언어와 개발 패턴, 아키텍처 등을 습득 하기 위해서 노력하고 있습니다.</p>
            <br />
            <p>주 업무는 WMS, TMS </p>
            <p>- WMS 는 창고관리시스템, 메인 개발자와 협업하 화면개발과, 업무적 외 기술적인 개발에 신경쓰며, 솔루션의 공통, 디자인패턴, 신기술 도입에 집중하였으며, 웹과 안드로이드를 이용한 네이티브 앱, 하이브리드앱 개발이 주된 기술 성과이며 국내/해외에서도 성공적인 프로젝트 완수를 하였습니다.</p>
            <p>- TMS 는 운송관리시스템, WMS 와 연계하여, 물류의 배송을 위한 배차부터 배송완료 까지의 PL역할을 수행하였으며, 웹 개발과 안드로이드(네이티브) 설계에 도움을 주었습니다.</p>
            <br />
            <p>개발에 있어서, 비즈니스와 커뮤니케이션이 가장 중요하다고 생각합니다.</p>
            <p>적극적으로 문제해결과 기술에 대한 커뮤니케이션을 찾으며, 더 좋은 개발자가 되기 위해 노력하고 있습니다.</p>
        </div>

    </div>
    <div class="col-xs-w100 m-t-20">
        <div class="col-xs-w20">
            <h4>2020.06 ~ 현재</h4>
        </div>
        <div class="col-xs-w80">
            <h5>엔디에스</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading9">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                            3SFORYOU - 정산관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                            NDS - 배차관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <hr>
    <div class="col-xs-w100 m-t-20">
        <div class="col-xs-w20">
            <h4>2018.02 ~ 2020.06</h4>
        </div>
        <div class="col-xs-w80">
            <h5>그리티스 - WMS 솔루션</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                            동원홈푸드 - TMS 운송관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                            오리온베트남 - WMS 물류관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                            한국이콜랩 - WMS 물류관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            롯데정보통신 - MMS 자산관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-w100 m-t-20">
        <div class="col-xs-w20">
            <h4>2017.08 ~ 2020.01</h4>
        </div>
        <div class="col-xs-w80">
            <h5>보우테크 SI</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                            버텍스아이디 - WMS 물류관리시스템
                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-w100 m-t-20">
        <div class="col-xs-w20">
            <h4>2017.01 ~ 2017.07</h4>
        </div>
        <div class="col-xs-w80">
            <h5>KH정보교육원</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                            [NCS] 응용 소프트웨어 엔지니어 및 DB 엔지니어 양성과정
                        </button>
                    </h2>
                    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-w100 m-t-20">
        <div class="col-xs-w20">
            <h4>2013.07 ~ 2016.05</h4>
        </div>
        <div class="col-xs-w80">
            <h5>미르기술</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                            광학계 및 자동화장비 개발 (개발 1년)
                        </button>
                    </h2>
                    <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{{>layout/footerJs}}
{{>layout/footer}}


